body {
     background-image: url('/img/background2.jpg');
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     background-color: #464646;
 }
 .index{
      background-image: url('/img/background1.jpg');
 }

.center {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 50%;
}

main {
     min-height: 85vh;
}

footer {
     position: absolute;
     width: 100%;
}

.navbar .logo {
     max-height: 50px;
     padding-right: 100px;
}

.container, .container-fluid {
     padding-top: 90px;
}

.bg-text {
     background-color: rgb(0,0,0); /* Fallback color */
     background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
     color: white;
     font-weight: bold;
     border: 3px solid #f1f1f1;
     z-index: 2;
     width: 80%;
     padding: 20px;
     text-align: center;
}

.brand-section {
     background-image: linear-gradient(to bottom right, rgba(220, 220, 220, 0.9), rgba(255, 255, 255, 0.9));
}

td, th {
     padding: 3px 8px;
}

.card.offer, .offer-details .list-group-item {
     background-image: linear-gradient(to bottom right, rgba(220, 220, 220, 0.9), rgba(255, 255, 255, 0.9));
}
.card-img-top-wrapper {
     height: 150px;
     overflow:hidden;
}

form.main-form {
     background-image: linear-gradient(to bottom right, rgba(70, 70, 70, 0.8), rgba(10, 10, 10, 0.8));
     padding:10px 30px;
     border-radius: 20px;
}

div.div-form {
     background-image: linear-gradient(to bottom right, rgba(70, 70, 70, 0.8), rgba(10, 10, 10, 0.8));
     padding:10px 30px;
     border-radius: 20px;
}

.field-error {
     background: white url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="red" d="M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z"/></svg> ') no-repeat top right/30px 30px;
}

.logged-user {
     color: white;
}
input:valid {
     border: lawngreen solid 2px;
}

input:invalid:required{
     background-image: linear-gradient(to right, lightgrey, grey);
}

.autocomplete {
     position: relative;
     display: inline-block;
}

.autocomplete-items {
     /*position: absolute;*/
     border: 1px solid #d4d4d4;
     border-bottom: none;
     border-top: none;
     z-index: 99;
     /*position the autocomplete items to be the same width as the container:*/
     top: 100%;
     left: 0;
     right: 0;
}

.autocomplete-items div {
     padding: 10px;
     cursor: pointer;
     background-color: #fff;
     border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
     background-color: #e9e9e9;
}

.autocomplete-active {
     background-color: DodgerBlue !important;
     color: #ffffff;
}

.zoom {
     -webkit-transition: all 0.35s ease-in-out;
     -moz-transition: all 0.35s ease-in-out;
     transition: all 0.35s ease-in-out;
     cursor: -webkit-zoom-in;
     cursor: -moz-zoom-in;
     cursor: zoom-in;
}

.zoom:hover,
.zoom:active,
.zoom:focus {
     /**adjust scale to desired size,
     add browser prefixes**/
     -ms-transform: scale(2.5);
     -moz-transform: scale(2.5);
     -webkit-transform: scale(2.5);
     -o-transform: scale(2.5);
     transform: scale(2.5);
     position:relative;
     z-index:100;
}

/**To keep upscaled images visible on mobile,
increase left & right margins a bit**/
@media only screen and (max-width: 768px) {
     ul.gallery {
          margin-left: 15vw;
          margin-right: 15vw;
     }

     /**TIP: Easy escape for touch screens,
     give gallery's parent container a cursor: pointer.**/
     .DivName {cursor: pointer}
}